@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    height: 100%;
    background: #222
}
.card{
    margin: 5rem;
    padding: 5rem;
    color: #fff;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 2rem;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search .searchInput{
    outline: 0;
    border: none;
    border-radius: 30px;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search #searchBtn {
    outline: 0;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    width:60px ;
   
}
.search #searchBtn img{
    width: 20px;
    
}
.card .weather {
    text-align: center;
}
.weather {
    display: none;
}
.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}

.weather .details{
    margin-top: 80px;
}


.humidity, .wind{
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.weather .details img{
    width: 70px;
    margin-right: 10px;
}   
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}